#wpap-dash-orders {
  #wpap-dash-orders-statuses {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid var(--wpap-border-color-1);

    & > a {
      padding: 1px 10px;
      display: flex;
      align-items: center;
      color: var(--wpap-text-color-1);
      font-size: 13px;
      border: 1px solid var(--wpap-border-color-1);
      border-radius: 50px;

      &:hover {
        background-color: var(--wpap-color-1);
      }
    }
  }

  i:first-child {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--wpap-border-color-1);
    border-radius: 10px;
  }
}