$color-1: #f2f8ff;
$color-2: #0062f5;
$bg-color-1: #ffffff;
$bg-color-2: #f7f7f7;
$text-color-1: #303030;
$text-color-2: #707070;
$text-color-3: #ffffff;
$border-color-1: #e6e6e6;
$border-color-2: #ffffff;
$error-color: #ff006c;
$warning-color: #f6743e;
$success-color: #4eceaa;
$color-white: #ffffff;
$color-dark: #2b2b2b;
$color-blue: #0062f5;
$color-orange: #f6743e;
$color-green: #3ba286;
$color-red: #f10069;
$color-yellow: #efca00;