@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin btn {
  width: auto;
  min-height: 36px;
  height: 36px;
  padding: 0 15px !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-family: inherit;
  border-radius: 50px;
  cursor: pointer;
  transition: all 100ms;

  &:active {
    transform: scale(0.97);
  }

  i {
    margin-left: 5px;
  }
}

@mixin message {
  padding: 10px 12px;
  display: flex;
  align-items: start;
  gap: 10px;
  font-size: 14px;
  line-height: 1.8em;
  border-radius: 10px;

  i:first-child {
    font-size: 20px !important;
  }

  span {
    font-size: 14px;
  }

  h3 {
    margin: 0 0 5px 0;
    font-size: 16px;
    font-weight: bold;
  }

  ul {
    padding: 0 17px 0 0;
    list-style: disc;
  }

  i:last-child {
    margin-right: auto;
    font-size: 16px !important;
    line-height: inherit;
    cursor: pointer;
  }
}

@mixin unread-count($bg-color, $color) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--wpap-color-2);
  min-width: 20px;
  height: 20px;
  color: var(--wpap-text-color-3);
  font-size: 14px;
  font-weight: bold;
  border-radius: 30px;
}

@mixin badge {
  padding: 2px 10px;
  font-size: 13px;
  white-space: nowrap;
  line-height: normal;
  border-radius: 30px;
}

@mixin transition($duration) {
  -webkit-transition: all $duration cubic-bezier(0,1,.5,1);
  -moz-transition: all $duration cubic-bezier(0,1,.5,1);
  -o-transition: all $duration cubic-bezier(0,1,.5,1);
  transition: all $duration cubic-bezier(0,1,.5,1);
}