.wpap-msg {
  .wpap-notice-view-details-link {
    color: var(--wpap-color-2);
  }
}

#wpap-notices {
  .wpap-notice-unseen {
    background-color: rgba($color-red, 10%);
  }
}

#wpap-important-notice {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#wpap-notice-page {
  header > div {
    h2 {
      margin-bottom: 5px;
    }

    span {
      font-size: 14px;
      display: flex;
      align-items: center;
      gap: 5px;
      color: var(--wpap-text-color-2);
    }
  }
}